APP_NAME=GettiiLite
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_REVERSION=0313_9dee1cc8
GETTIIS_DOMAIN=https://gettiis.jp
DISP_LOCALE=ja
LSPAYMODULE=http://api.gettiilite/api
#REDIRECT_HTTPS=1 # 0: http, 1: https
#TIMEZONE='Asia/Tokyo'

#GETTIIS Database STS 2021/08/16 Task 45
DB_CONNECTION_GETTIIS=mysql
DB_PORT_GETTIIS=3307
DB_HOST_GETTIIS=localhost
DB_DATABASE_GETTIIS=ls_gettiis_dev
DB_USERNAME_GETTIIS=dbuser
DB_PASSWORD_GETTIIS=dbpassword


DB_CONNECTION=mysql
DB_PORT=3306

DB_HOST=localhost
DB_DATABASE=gettiilite
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=30
EXPIRE_ON_CLOSE=true
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mail.host
MAIL_PORT=25
MAIL_FROM_ADDRESS=noreply@mail.domian
MAIL_FROM_NAME=Gettii Lite
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

RECAP_SK=6Lft-7EUAAAAAKnRjde5oRsXGww7hJqJzOmgxCxf
RECAP_CK=6Lft-7EUAAAAAPeOXVDWoS5sB1qVfSnxs7SPwZcm

#GSadminKey
GS_ADMIN_KEY = "test_key"

#GTMCODE=GTM-?????????