/* ================================================
[  ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: ’微軟正黑體‘, Helvetica, Arial, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: ’微軟正黑體‘, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #0dd1fd;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #26cbd5;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/* ================================================
[ 文字連結 ]*/

.tip-link {
    font-size: 13px;
    line-height: 1.5;
    color: #33bbeb;
}

/* ================================================
[ login ]*/

.login-section {
    width: 100%;
    margin: 0 auto;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #33bbeb;
    background: -webkit-linear-gradient(-45deg, #33bbeb, #0dd1fd, #269ad5, #c2de51);
    background: -o-linear-gradient(-45deg, #33bbeb, #0dd1fd, #269ad5, #c2de51);
    background: -moz-linear-gradient(-45deg, #33bbeb, #0dd1fd, #269ad5, #c2de51);
    background: linear-gradient(-45deg, #33bbeb, #0dd1fd, #269ad5, #c2de51);
    background-size: 200% 200%;

}

.login-container .logo-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 90px 60px 90px;

}

.login-container .logo-wrap-fix {
    padding: 10px 90px 50px 90px;
}

/*  BOX 設定  登入註冊頁面使用 */

.box-login-bg {

    border-top: none !important;
    box-shadow: none !important;
    background: #f1f1f173 !important;
    padding: 10px 15px;
}

.box-login-bg .box-header.with-border {
    border-bottom: none !important;
}

.login-wrap .box-login-bg h3 {
    color: #333333;
    font-size: 1.5rem;
    padding: 6px
}

.callout-login-warning {
    background-color: #ffe4e9 !important;
    border-left: none;
    border-radius: 6px;
    border: 1px solid #f89eaf !important;
    color: #333333 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.callout-login-warning .i-warning {
    float: left;
    width: 60px;
    padding: 5px 0
}

.callout-login {
    width: 100%;
    border-radius: 6px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    margin-bottom: 30px !important;
    background: #dedede12;
    border-left: none !important;
    border: 1px solid #eeeeee !important;
}

.callout-login .i-check {
    float: left;
    height: 60px;
    width: 60px;
    padding: 6px 0
}


/* ================================================
[ logo區塊＋文字說明 ]*/

.logo-wrap-image {
    display: block;
    width: 210px;
    margin: auto;
    height: 70px;
    margin-bottom: 20px
}

.logo-wrap-image img {
    max-width: 100%;
    height: 100%;
}

.sub-txt {
    font-size: 1.8rem;


}

.result-txt {
    font-size: 2rem;
    line-height: 2;
    color: #E91E63;

}

.login-wrap {
    width: 1000px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 90px 60px 90px;
}

.login-intro p {
    min-height: 175px;
    color: #666666
}

.radio-row {
    display: inline-flex;
    padding-left: 10px;
}

.box-body h5 {
    position: relative
}

.box-body h5 span {
    position: absolute;
    width: 85%;
    right: 0;
    top: 0;
    margin: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

/* ================================================
[ login ]*/

.login-intro {
    width: 50%;
    padding-right: 90px;
    border-right: 3px double #fafafa;
}
.data-img {
    width: 50%;
    padding-right: 40px;
    border-right:none !important;

}

.login-intro img {
    max-width: 100%;
}


/* ================================================
[ 右方表單 ]*/

.login-form {
    width: 300px;
}

.login-form-title {
    font-size: 1.8rem;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 40px;
}

/*---------------------------------------------*/
.input-wrap {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.tip-text {
    padding-top: 60px;
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #33bbeb;
}

.input:focus+.focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input {
    font-size: 1.5rem;

    /*display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;*/
    position: absolute;
    border-radius: 25px;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.input:focus+.focus-input+.symbol-input {
    color: #33bbeb;
    padding-left: 28px;
    
}

/*------------------------------------------------------------------
[ Button ]*/

.login-container-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

.btn-login {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #33bbeb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-login:hover {
    background: #0dd1fd;
    color: #ffffff;
}

.btn-application {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #7460ee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-application:hover {
    background: #9988ff;
    color: #ffffff;
}

.captcha-box {
    width: 200px;
    height: auto;
    float: right
}

.tip-box {
    width: 200px;
    margin: auto;
    margin-top: 10px
}

.tip-error {
    text-align: center;
    color: #FF5722;
    font-size: 1.3rem;
    background-color: #ffe4e9 !important;
    border-radius: 5px;
    padding: 5px;

}

.register-privacy {
width: 100%;
height: 70px;
padding: 30px 200px;
text-align: center;
color: #fff;
}
.register-privacy a{
    font-size: 1.5rem;
    color : #fff;
    opacity: .7;
}
/* ================================================
[ Responsive ]*/

@media (max-width: 992px) {
    .login-wrap {
        padding: 50px 85px 33px 85px;
    }

    .login-pic {
        width: 47%;
    }

    .login-form {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .login-wrap {
        padding: 50px 80px 33px 80px;
    }

    .login-pic {
        width: 100%;
        margin-bottom: 50px;
        border-bottom: 3px double #fafafa;
        border-right: none;
        padding-bottom: 60px;
        padding-right: 0
    }

    .login-form {
        width: 100%;
    }

    .login-intro {
        width: 100%;
        padding-right: 0;
        margin-bottom: 50px
    }

    .login-container .logo-wrap {
        padding: 10px 90px 50px 90px;
    }

    .login-form-title {
        padding-bottom: 30px;
    }

    .login-wrap p {
        min-height: auto;
    }
}

@media (max-width: 576px) {
    .login-wrap {
        padding: 50px 15px 33px 15px;
    }
}


/* ================================================
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.help.is-danger {
    color: #FF5722;
    padding-left: 15px;
    font-size: 1.3rem;
}

.help.is-danger i {
    margin-right: 5px;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}